<h1>Listado de heroes</h1>
<mat-divider></mat-divider>
<br>

<section 
    fxLayout="row wrap" 
    fxLayout.xs="column"
    fxLayoutAlign="center" 
    fxLayoutGap="20px"
>
    <div 
    fxFlex="20" 
    *ngFor="let heroe of heroes"
    fxFlex.lg="15"
    fxFlex.sm="30"
    >
        <mat-spinner *ngIf="!heroes; else divHeroe"></mat-spinner>
        
        <ng-template #divHeroe>
            <app-heroe-tarjeta-component [heroe]="heroe">
            </app-heroe-tarjeta-component>
        </ng-template>
    </div>
</section>